$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$border-radius: .1rem;

.tabs {
	position: fixed;
	top: 4.55rem;
	left: 3.83rem;
	width: 100%;
	height: 90%;
	background-color: white;



}

.rectangle {
	height: 50px;
	width: 100px;
	background-color: #00826B;
	color: white;
}

.nav-tabs {
	&--vertical {
		border-bottom: none;
		border-right: 1px solid $color-border;
		display: flex;
		flex-flow: column nowrap;
	}

	&--left {
		width: 115rem;
		background-color: #F2F2F2;

		.nav-item+.nav-item {
			margin-top: .25rem;
		}

		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;

			&:hover {
				border-color: transparent;
			}
		}

		.nav-link.active {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			height: 5rem;
			border-left-color: #00826b;
			border-left-width: 0.5rem;

		}

		.nav-link.inactive {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			height: 5rem;
			color: #000000b5;

		}
	}
}

.color-green {
	background-color: #00826B;
	color: white;
}

.textarea-wrapper {
	position: relative;
}

.remaning {
	position: absolute;
	bottom: 10px;
	right: 10px;
}