<div class="top-panel">
    <div class="container">
        <div class="hstack gap-3">
            <div class=" border">First item</div>
            <div class="vr"></div>

            <div class=" border">First item</div>

            <div class=" border ms-auto">Second item</div>
            <div class="vr"></div>
            <div class="d-flex flex-row-reverse">

                <div class="ml-4">
                    <img src="assets/power_settings_new_FILL0_wght400_GRAD0_opsz48.svg">
                    </div>
                    <div class="ml-4">
                    <img src="assets/notifications_FILL0_wght400_GRAD0_opsz48.svg">
            </div>       
            
                </div>          </div>
   
    </div>
  </div>